<style>

body{
    font-family: Arial;
    background:#f6f6f6;
}

.category, .subcategory{
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
}

.content, .subcontent{
    display:none;
    margin-left:20px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:15px;
}

.card{
    background:white;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 5px rgba(0,0,0,.2);
    text-align:center;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}

button{
    margin-top:8px;
    padding:6px 8px;
}

</style>
